
header{
    background-color: black;
    height: 100px;
}

nav{
    position: absolute;
    top: 40px;
    right: 0;   
    
}

nav li{
    display: inline-block;

}

li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    
}

li a:hover{
    color: grey;
}

.titulo{
    color: black;
    text-align: center;
    font-size: 100px;
    padding: 30px;
    margin-bottom: 20px;
    
    

}


.texto a {
    text-decoration: none;
    

}

.imagen{
    width: 420px;
    display: inline;
    height: 400px;
    margin-left: 40px;
    padding: 6px;


}

div{
    background: black;
    color:white;
    text-align: center;
    height: 120px;
}

footer p{
    padding: 50px;
}